/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------------------------------ */
/* Pretandard font setting */

@font-face {
  font-family: "NotoSerifKR";
  src: url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Light.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Medium.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Bold.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Black.otf");
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../public/fonts/Noto_Sans_KR/NotoSansKR-Light.otf"),
    url("../public/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf"),
    url("../public/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf"),
    url("../public/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf"),
    url("../public/fonts/Noto_Sans_KR/NotoSansKR-Black.otf");
}

html {
  font-family: "NotoSansKR", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* ------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-font_black;
}

a,
p,
i {
  @apply text-font_black;
}

span {
  @apply text-font_black;
}

html,
body,
input,
textarea {
  @apply bg-bg_1 text-font_black;
}

footer {
  @apply text-gray-900 bg-bg_1;
}

/* ------------------------------------------------------------------ */

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.col-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ------------------------------------------------------------------ */
/* 흰배경, 둥근 모서리, 그림자 */

input,
.box,
.card {
  @apply bg-white shadow-sm shadow-back_color rounded-3xl;
}

/* ------------------------------------------------------------------ */
/* 경계 */
.box,
.card {
  @apply border border-gray_2;
}

/* ------------------------------------------------------------------ */
.box {
}

.card {
}
