/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------------------------------ */
/* Pretandard font setting */

@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/NotoSansKr/NotoSansKR-Light.woff2) format("woff2"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Light.woff) format("woff"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/NotoSansKr/NotoSansKR-Regular.woff2) format("woff2"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Regular.woff) format("woff"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url(../public/fonts/NotoSansKr/NotoSansKR-Medium.woff2) format("woff2"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Medium.woff) format("woff"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/NotoSansKr/NotoSansKR-Bold.woff2) format("woff2"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Bold.woff) format("woff"),
    url(../public/fonts/NotoSansKr/NotoSansKR-Bold.otf) format("opentype");
}

html {
  font-family: "Noto Sans KR", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 300;
}

/* ------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-font_black;
}

a,
p,
i {
  @apply text-font_black;
}

span {
  @apply text-font_black;
}

html,
body,
input,
textarea {
  @apply bg-bg_1 text-font_black;
}

footer {
  @apply bg-bg_1 text-gray-900;
}

li {
  list-style: none;
}

/* ------------------------------------------------------------------ */

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.col-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ------------------------------------------------------------------ */
/* 흰배경, 둥근 모서리, 그림자 */

input,
.box,
.card {
  @apply rounded-3xl bg-white shadow-sm shadow-back_color;
}

/* ------------------------------------------------------------------ */
/* 경계 */
.box,
.card {
  @apply border border-gray_2;
}

/* ------------------------------------------------------------------ */

.undraggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
